*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.profile-container{

  min-height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  background:#f4f7fb;
}

.profile-card{

  width:500px;

  background:white;

  padding:40px;

  border-radius:20px;

  text-align:center;

  box-shadow:
  0 6px 20px
  rgba(0,0,0,0.08);
}

.avatar{

  font-size:80px;

  margin-bottom:20px;
}

.profile-card h1{

  color:#2563eb;

  margin-bottom:30px;
}

.info{

  text-align:left;
}

.info p{

  margin-bottom:18px;

  font-size:18px;

  color:#334155;
}

.info strong{

  color:#111827;
}